.btn {

  background-color: transparent;
  text-align: center;

  &-primary {
    font-weight: 400;
    font-size: 1.3rem;
    border: 3px solid $color-pink;
    border-radius: 15px;
    width: 13rem;
    height: 3.2rem;

    @include respond(tab-port) {
      width: 7rem;
      height: 2.3rem;
      font-size: 1rem;
      border: 1px solid $color-pink;
      z-index: 20;
    }
  }
}

.list-button {

  display: none;

  @include respond(phone) {
    display: block;
    font-size: 2.5rem;
    position: fixed;
    top: 3px;
    left: 7px;
    z-index: 20;
  }
}

.list-close {
  font-size: 3.5rem;
  top: -4px;
  left: -3px;
}
