.content {

  grid-column: 2 / -1;
  grid-row:  1 / 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  &__container {

    width: 45rem;
    height: 25rem;
    background-color: rgba($color-black-dark, .8);
    border-radius: 20px;
    padding: 1rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-button {
      background-color: transparent;
      position: absolute;
      top: 2%;
      right: 2%;
    }

    &-title {
      margin: 1rem;
    }

    &-password {
      display: block;
      width: 100%;
      height: 100%;
      word-wrap: break-word;
      text-align: center;
      color: $color-pink;
      font-weight: 200;
      font-size: 2.5rem;
    }
  }
}
