.footer {

  grid-column: 2/-1;
  grid-row: 2/-1;

  background-image: linear-gradient(to left top,
   $color-black, $color-black-dark);
  min-height: 15vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    grid-column: 1/-1;
    grid-row: 3 / -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 1.2rem;
  }

  &__icon {
    font-size: 2rem;
    margin: 1.5rem;
    cursor: pointer;

    *:hover {
      transform: translateY(-1px);
    }
  }
}
