.sidebar {

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  background-color: rgba($color-black-dark, .5);
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-land) {
    font-size: 1.2rem;
  }

  @include respond(tab-port) {
    font-size: .9rem;
    min-height: 20vh;
  }

  @include respond(phone) {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-black;
    z-index: 10;
  }

  &__container {
    text-align: center;
  }

  &__title {
    text-align: center;
    margin: 2rem 0;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;


    @include respond(tab-land) {
      flex-direction: row;
      position: relative;
    }

    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  &__numbers {
    position: absolute;
    color: $color-pink;
    font-size: 1.4rem;
    &-min {
      top:40%;
      left: -10%;

      @include respond(tab-land) {
        top: 80%;
        left: -3%;
      }

      @include respond(tab-land) {
        left: -2%;
      }
    }

    &-max {
      top:40%;
      right: -10%;

      @include respond(tab-land) {
        top: 80%;
        right: -3%;
      }

      @include respond(tab-land) {
        right: -2%;
      }
    }
  }

  &__length {
    text-align: center;
    margin: 1rem 0;

    @include respond(tab-land) {
      position: absolute;
      top: 10%;
      left: 12%;
    }

    @include respond(tab-port) {
      left: 8%;
    }

    @include respond(phone) {
      position: relative;
      text-align: center;
      margin: 0;
    }
  }

  &__range {

    appearance: none;
    outline: 0;
    height: 1px;
    background-color: transparent;
    border-top: 1px solid $color-white;
    min-width: 18rem;
    border-radius: 40px;

    @include respond(tab-port) {
      min-width: 10rem;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 1.2rem;
      height: 1.2rem;
      background-color: $color-pink;
      border-radius: 50%;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100%;
      min-height: 2rem;
      position: relative;

      @include respond(tab-land) {
        flex-direction: row;
        min-width: 10rem;
        margin-right: 3rem;
      }

      @include respond(tab-port) {
        grid-column: 1/2;
      }

      @include respond(phone) {
        min-width: 12rem;
        margin: .5rem 0 1rem;
      }

    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    margin: 1rem 0;

    @include respond(tab-land) {
      margin-right: 3rem;
    }

    @include respond(tab-port) {
      margin-right: 0;
      grid-column: 2/3;
      margin: 0 1rem;
    }
  }

  &__label {
    margin: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      text-transform: uppercase;
    }

  }

  &__checkbox {

    margin-left: 1.5rem;
    cursor: pointer;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $color-white;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;

    &::before {
      content: '';
      background: $color-pink;
      opacity: 0;
      transition: all .3s ease-in-out;
      position: absolute;
      background: transparent;
      border: 3px solid $color-pink;
      border-left: 0;
      border-top: 0;
      width: 7px;
      height: 12px;
      transform: rotate(45deg);
      top: 2px;
    }

    &:checked::before {
      opacity: 1;
    }

    &:focus {
      box-shadow: 0 0 px $color-pink;
    }
  }

  &__footer {

    grid-column: 1/2;
    grid-row: 2/-1;
    background-color: $color-black-dark;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-land) {
      display: none;
    }

    &-text {
      font-size: 1.2rem;
    }
  }

  &__button {

    @include respond(tab-port) {

    }
  }
}
